@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: #121417;
}
.gradient {
	background: rgb(18, 20, 23);
	background: linear-gradient(
		50deg,
		rgba(18, 20, 23, 0.989233193277311) 0%,
		rgba(37, 45, 55, 1) 100%
	);
}
@keyframes fade {
	from {
		opacity: 0;
		transform: scale(1.2);
	}
	to {
		opacity: 100;
		transform: scale(1);
	}
}
.fade {
	animation: fade 0.7s ease-in-out;
}
